@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>


        <!--=====================================================================1-->

        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
        <!--=====================================================================1-->
        <footer>
            <p>&copy 2015 Easy Admin Panel. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
        </footer>
        <!--footer section end-->    @*<script src="js/bootstrap.min.js"></script>

        </section>

        <script src="js/jquery.nicescroll.js"></script>
        <script src="~/Scripts/jquery.nicescroll.js"></script>

        <script src="js/scripts.js"></script>
        <script src="~/Scripts/scripts.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
    </html>*@
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Bug Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    @*<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @*<link href="css/style.css" rel='stylesheet' type='text/css' />*@
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Graph CSS -->
    @*<link href="css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- jQuery -->
    <!-- lined-icons -->
    @*<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />*@
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <!-- //lined-icons -->
    <!-- chart -->
    @*<script src="js/Chart.js"></script>*@
    <script src="~/Scripts/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    @*<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">*@
    <link href="~/Content/animate.css" rel="stylesheet" />

    @*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">*@

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">



    @*<script src="js/wow.min.js"></script>*@
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    @*<script src="js/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sticky-header left-side-collapsed" @*onload="initMap()"*@>
    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <h2><a href="@Url.Action("Index", "")"><span>Bug Tracker</span></a></h2>
            </div>
            <div class="logo-icon text-center">
                <a href="@Url.Action("Index", "")"><i class="lnr lnr-home"></i> </a>
            </div>

            <!--logo and iconic logo end-->
            <div class="left-side-inner">

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="@Url.Action("Index","Home")"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>

                    <li>
                        <a href="@Url.Action("Index","Manage")"><i class="lnr lnr-user"></i> <span>Edit Profile</span></a>
                    </li>

                    @if (User.IsInRole("Developer"))
                    {
                        <li>
                            <a href="#"><i class="lnr lnr-tag"></i> <span>Tickets</span></a>
                            <ul class="sub-menu-list">
                                <li><a href="@Url.Action("Index", "Tickets", new { id="" })">All Tickets</a></li>
                                <li><a href="@Url.Action("Index", "Projects",new { Manager = "User"})">Your Projects</a></li>
                                <li><a href="@Url.Action("Index", "Tickets", new { id = "devTicket" })">Assigned Tickets</a></li>
                                <li><a href="@Url.Action("index", "Tickets", new { id = "projectsTicket" })">Project Tickets</a></li>
                            </ul>
                        </li>
                    }


                    @if (User.IsInRole("Submitter"))
                    {
                        <li>
                            <a href="#"><i class="lnr lnr-tag"></i> <span>Tickets</span></a>
                            <ul class="sub-menu-list">
                                <li><a href="@Url.Action("Index", "Tickets", new { id="" })">All Tickets</a></li>
                                <li><a href="@Url.Action("Index", "Tickets",new { id="User"})">Your Tickets</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Create","Tickets")"><i class="lnr lnr-file-add"></i><span>Create Ticket</span></a></li>
                    }

                    @if (User.IsInRole("Project Manager"))
                    {
                        <li>
                            <a href="#"><i class="lnr lnr-tag"></i><span>Tickets</span></a>
                            <ul class="sub-menu-list">
                                <li><a href="@Url.Action("index", "Tickets", new { id = ""})">All Tickets</a></li>
                                <li><a href="@Url.Action("Index", "Tickets", new { id = "Manager Tickets"})">Projects Tickets</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a href="@Url.Action("Index", "ApplicationUsers")"><i class="lnr lnr-users"></i><span>Change Role</span></a></li>
                    }

                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <li>
                            <a href="#"><i class="lnr lnr-list"></i><span>Projects</span></a>
                            <ul class="sub-menu-list">
                                <li><a href="@Url.Action("Index", "Projects", new { Manager = ""})">All Projects</a></li>
                                <li><a href="@Url.Action("Index", "Projects",new { Manager = "Manager"})">Your Projects</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <!--sidebar nav end-->
            </div>
        </div>
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content">
            <div class="header-section">

                <!--toggle button start-->
                <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
                <!--toggle button end-->
                <!--notification menu start -->
                <div class="menu-right">
                    <div class="user-panel-top">
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown"> @Html.Partial("_LoginPartial")</li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--notification menu end -->
            </div>

            <!-- //header-ends -->
            @RenderBody()
        </div>
        <!--footer section start-->
        <footer>
            <p>All Rights Reserved | Manpreet</p>
        </footer>
        <!--footer section end-->
    </section>


    @*<script src="js/jquery.nicescroll.js"></script>*@
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    @*<script src="js/scripts.js"></script>*@
    <script src="~/Scripts/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    @*<script src="js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @RenderSection("Scripts", required: false);
</body>
</html>